{% assign collection_pages = site.[include.collection.label] %}
{% assign current_collection = include.collection %}
<ul class="nav navbar-nav">
    <li class="dropdown {% if page.collection == current_collection.label %}active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_collection.nav_title }} <span class="caret"></span></a>
    <ul class="dropdown-menu">
    {% assign sorted_pages = collection_pages | sort: 'page_display_sort_order' %}    
    {% for collection_page in sorted_pages %}
        <li class="{% if page.url == collection_page.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ collection_page.url }}">{{ collection_page.title}}</a></li>
    {% endfor %}
    </ul>
</li>