@{
    var current = Model;
    var documentPath = current.Get<object[]>("TreePath", new object[] {});
    var value = string.Join(";", documentPath.Cast<string>());
    var children = current.Get<IEnumerable<IDocument>>("Children");
    var hasChildren = children.Count() > 0;
}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@value <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        @if (hasChildren) {
                            <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">@documentPath.Last()</a>
                            @Html.Partial("partials/_menuSubMenu", children.First()) 
                            </li>   
                        }
                        else {
                            @while (current != null) {
                                documentPath = current.Get<object[]>("TreePath", new object[] {});
                            <li><a href="#">@documentPath.Last()</a></li>
                            current = current.Get<IDocument>("NextSibling");
                            }
                        }
                        </ul>
                    </li>
                </ul>