@{
    @*
    Given the first item to display within the dropdown shown off the main nav bar.  Responsible
    for displaying all items at this level and below i.e. it needs to loop 
    *@
    var current = Model;
}
                            <!-- NavBarMenu Start -->
                            <ul class="dropdown-menu">
@while (current != null) {
    var documentPath = current.Get<object[]>("TreePath", new object[] {});
    var children = current.Get<IEnumerable<IDocument>>("Children");
    var hasChildren = children.Count() > 0;

    @if (hasChildren) {
                            <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">@documentPath.Last()</a>
                            @Html.Partial("partials/_navBarMenu", children.First()) 
                            </li>   
    }
    else 
    {
                            <li class=""><a href="@current.String("site.base-url")/@current.String(Keys.RelativeFilePath)">@current.String("Title")</a></li>
    }
    current = current.Get<IDocument>("NextSibling");
}
                            </ul>
                            <!-- NavBarMenu Start -->

        