<!DOCTYPE html>
<html lang="en">
  @Html.Partial("partials/_head")
  <body>
    @Html.Partial("partials/_header")
    @RenderBody()
    {% include footer.html %}
  </body>
    {% include scripts.html %}
  	{% if page.script != null %}
  		{% include {{ page.script }} %}
	{% endif %}
</html>