@{
    Layout = "_default";
}

<article class="post">
    
    @if (!string.IsNullOrEmpty(Model.Get("title", "")))
    {
    <div class="page-header">
        <h2>@Model["title"]</h2>
    </div>
    }

    <div class="container">
        @RenderBody()
    </div>

</article>